* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #c7c7c7;
    padding-top:50px;
}

/* begin of the Navbar */
nav>ul>li>a {
    text-decoration: none;
}

nav>img,h1,ul {
    display: inline;
    margin-top: 30px;
    margin-left: 30px;
}

#speaker {
    width: 20px;
    height: auto;
    position: relative;
    top:2px;
}

nav>ul {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}
nav>ul::after {
    content: "";
    display: table;
    clear: both;
}
nav>ul>li {
    display: inline;
    padding: 10px;
}

nav>ul>li>a {
    padding:  10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
nav>ul>li>a:hover {
    background-color: black;
    color: azure;
    border-radius: 7%;
}
/* end of the Navbar */

/* begin of the main container */
.container {
    background-color: azure;
    width: 60%;
    margin: 0 auto;
    height: auto;
}
main.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer.container {
    margin-bottom: 100px;
    text-align: center;
}

footer p {
    margin-top:10px;
    font-size: smaller;
    color: grey;
}

/* end  of the main container */

main>h2,p {
    margin-left: 10%;
    padding: 20px;
    margin-right: 150px
}

main>a {
    text-decoration: none;
    background: black;
    padding: 2px;
    position: relative;
    top:15px;
    left: 70%;
    color: white;
}

main>a>img {
    width: 15px;
    position: relative;
    top:2px;
    left: 2px;
}

section {
   padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
}

section>article {
    flex-basis: 30%;
    height: 300px;
    background-size: cover;
}
section>article:nth-child(1) {
    background-image: url("../images/white-box.jpg");
    background-position:  center;

}

section>article:nth-child(2) {
    background-image: url("../images/room.jpg");
    background-position:  left center;
}

section>article:nth-child(3) {
    background-image: url("../images/black-white.jpg");
    background-position: center center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article p {
    color: white;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

article>img {
    background-color: azure;
    border:2px solid rgba(130, 185, 224, 0.726);
    border-radius: 100%;
    width:25px;
    position: relative;
    bottom: 60px;
    left: 40px;
}
article>img:hover {
    border:2px solid azure;
    border-radius: 100%;
    transform: scale(1.1)
}